       
           /*page central*/
        
           h2 {
    padding: 10px;
    margin: 10px;
    margin-left: 90px;
    font-size: 30px ;
    color: #111;
    }

           h3 {
    font-size: 25px ;
    text-align: center;
    color: #3b3c35;
    }

           .marge {
    border-top: solid 2px #bf8370;
    width:90% ;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    }

           section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }

           .conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
     }

          p, .conteneur {

          text-align: start;
     }

          .font {

          text-align: end;
   }

            .box1 {
    display: flex;
    width: 16%;
    height: 300px;
    background-color: black;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #00000040;
    }

           .box2 {
    display: flex;
    align-items: center;
    color: #6c6d66;
    font-size: 18px;
    width: 70%;
    }

           .box3 {
    display: flex;
    align-items: center;
    color: #6c6d66;
    font-size: 18px;
    width: 40%;
    
    }

           .box4 {
    display: flex;
    width:500px;
    height: 300px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #00000040;
    border: solid 1px rgb(255, 255, 255);
    }



/**********carousel**********/



          .slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: solid 5px #111;
    box-shadow: 5px 5px 15px 5px #00000040;
    }
    
         .scroller {
    overflow-y : hidden;
    overflow-x: scroll;
    scrollbar-color: #bf8370 rgba(187, 187, 187, 0.692) ;
    scrollbar-width: thin;
    
   
    }
  
         .slide-track {
    display: flex;
    left: 0;
    white-space: nowrap;
    }



         .tof {
    width: 300px;
    height: 200px;
    padding: 4px 4px 4px 10px; ;
    margin-left: -10px;
    cursor: pointer;
    z-index: 100;
    
}

        .tof:hover {
                 
       opacity: 0.8;
       transition: opacity 0.9s;
     }

/********** lightbox **************/


     .lightbox {
       display: none;
       position: fixed;
       z-index: 999;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       padding: 1em;
       background: rgba(0, 0, 0, 0.8);
     }
     
     .lightbox:target {
       display: block;
     }
     
     .lightbox span {
       display: block;
       width: 100%;
       height: 100%;
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
     }




    
/**************************************************Multi Support******************************************/

                                                /*RESPONSIVE IPAD*/


/*version paysage 1080 px */


  
@media screen and (max-width:1080px) {
     

       section {
              width: 80%;
       }

       .conteneur {
              display: flex;
              padding-top: 5px ;
               }

       .box1 {
              display: flex;
              width: 45%;
               }

       .box2 {
              display: flex;
              width: 80%;
              padding: 20px; 
               }

       p, .container {
              text-align: start;
              font-size: 15px;
               }

       .box3 {
               display: flex;        
               padding: 10px;
               }

       .box4 {
              width: 400px;
              display: flex;
              box-shadow: none;
              border: none;
               }

       video {
              width: 400px;
                      
               }

       .font {
              text-align: end;
             }

       h3 {
                    padding: 10px;
             }

       .titlePhoto {
              margin-top: -60px;
             }

       #mainhead {
              padding: 7px;
             }

       h2{
              padding: 0;
             }

     

       footer {
              padding-top: 20px;
             }
               
              }





              /***************************************Mobile*******************************************/

                                        /**version portrait 760px*******/

 @media screen and (max-width:760px) {


              h2{
              font-size: 25px;
              }

              .conteneur {
              flex-direction: column;
              align-items: center;
               }

               p, .conteneur{
                     text-align: center;

               }

               .box1{
                      display: flex;
                      width: 40%;
               }

               .box2{
                      display: flex;
               }

               .box3{
                      display: flex;
                      width: 100%;
               }

               .box4{
                      display: flex;
                      justify-content: center;
                      margin-top: -50px;
               }

               video{
                      width: 350px;
               }

               .font{
                      text-align: center;

               }

               .legal{
                      margin-left: 0;
               }

               .slider{
                      width: 97%;
               }

  }


 /***************************************Mobile*******************************************/

                                        /**version portrait 360px*******/


  @media screen and (max-width:360px) { 
       .box1{
              display: flex;
              width: 70%;
       }
  }



