      
      /****parametre generale****/

      body{
        font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      
      h2 {
       padding: 10px;
       margin: 10px;
       margin-left: 90px;
       font-size: 30px ;
   }

       .marge {
       border-top: solid 2px #bf8370;
       width:90% ;
       height: 30px;
       margin-left: auto;
       margin-right: auto;
   }

/***********partie bandeau / carousel ***************/

/*******les Animation ********/

       @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
       @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
       @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

      .carousel {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; 
    scrollbar-width: 0px;
  }
  
      *::-webkit-scrollbar {
     width: 0;
  }
  
      *::-webkit-scrollbar-track {
    background: transparent;
  }
  
      *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
      * {
    -ms-overflow-style: none;
  }

  /****les parametre du carousel***/
  
      ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

      .carousel {
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }

      .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 300px;
  }

       .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 50%;
    background-image: url(../imageSite/bande1.jpg);
    counter-increment: item;
  }

       .carousel__slide:nth-child(2n) {
    background-image: url(../imageSite/bande2.jpg);
  }

       .carousel__slide:nth-child(3n) {
    background-image: url(../imageSite/bande4.jpg);
  }  
  
       .carousel__slide:nth-child(4n) {
    background-image: url(../imageSite/bande3.jpg);
  }

       .carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #111;
    font-size: 2em;
  }

       .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

       @media (hover: hover) {
         .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }
  
         .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
    }
  }

        @media (prefers-reduced-motion: reduce) {
        .carousel__snapper {
    animation-name: none;
    }
  }
  
        .carousel:hover .carousel__snapper,
        .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }

        .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

        .carousel__navigation-list,
        .carousel__navigation-item {
    display: inline-block;
  }
  
        .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(236, 230, 230, 0.4);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
    margin-bottom: 20px;
  }
  
       .carousel::before,
       .carousel::after,
       .carousel__prev,
       .carousel__next {
    position: absolute;
    top: 30px;
    margin-top: 11.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }

      .carousel::before,
      .carousel__prev {
    left: 1rem;
  }
  
      .carousel::after,
      .carousel__next {
    right: 1rem;
  }

      .carousel::before,
      .carousel::after {
    content: '';
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgba(134, 110, 110, 0.39);
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
       .carousel::before {
    background-image: url("../PNG/flecheGauche.png");
    background-color: rgba(255, 255, 255, 0.150);
  }

  .carousel__prev:hover{
    background-color: rgba(255, 255, 255, 0.350);
  }
  
       .carousel::after {
    background-image: url("../PNG/flecheDroite.png");
    background-color: rgba(255, 255, 255, 0.150);
  }

  .carousel__next:hover{
    background-color: rgba(255, 255, 255, 0.350);
  }

       section {
    width: 80%;
    margin-left : auto; 
    margin-right: auto;
    height: 300px;
  }

/***********partie reseau et commentaire ***************/

      main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

      .conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }
/**** les petit conteneur ****/ 

      .box1 {
    display: flex;
    width: 25%;
    height: 400px;
    box-shadow: 2px 3px 9px 1px #00000040;
    overflow: hidden;
    margin: 5px;
  }

      .box2 {
    display: flex;
    width: 25%;
    height: 400px;
    box-shadow: 2px 3px 9px 1px #00000040;
    overflow: hidden;
    margin: 5px;
  }

      .box3 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 9px 1px #00000040;
    margin: 5px;
    overflow: hidden;
  }

      .box4 {
    display: flex;
    width: 25%;
    height: 400px;
    box-shadow: 2px 3px 9px 1px #00000040;
    margin: 5px;
    margin: 5px;
  }

      .boiteCom {
   display: flex;
   justify-content: space-around;
   padding-top: 5px;
   color: rgb(100, 100, 100);
}

      .groupStars {
   width: 50%;
   color: #6c6d66;
   text-align: center;
}

      .title {
   display: flex;
   font-weight: bolder;
   width: 40%;
   color: #3b3c35;
}
      .star {
   width:10%; 
}

      .text {
   margin: 16px;
   margin-top: 5px;
   color: #6c6d66;
}

#instagram-embed-0 {
   min-width: 305px !important;
}

.scroller {
   overflow-y : scroll;
   overflow-x: hidden;
   scrollbar-color: #bf8370 rgba(187, 187, 187, 0.692) ;
   scrollbar-width: thin;
  }
