 
 /***parametre generale***/
 
 body {
    margin: 0;
    padding: 0;
    color: #6c6d66;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 h2 {
    padding: 10px;
    margin: 10px;
    margin-left: 90px;
    font-size: 30px ;
    color: #111;
}

 h3 {
    color: #3b3c35;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

 .marge {
    border-top: solid 2px #bf8370;
    width:90% ;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}


       /* la page */

 .conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
  
}

 .ligne1 {
    display: flex;
    flex-direction: column;
}

  #map {
    width: 350px;
    height: 335px;
    box-shadow: 1px 0px 6px 5px #00000040;
}

 button {
    margin: 10px; 
}

 .ligne2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 p {
    font-size: 18px;
}

 .ligne3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/****bouton envoyer***/

  #modalContact{
    margin: 15px;
    padding: 8px 6px 8px 6px;
    border: #bf8370 solid 2px;
    border-radius: 4px;
    font-size: 18px;
    color: #6c6d66;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 1px #00000040;
    cursor: pointer;
    text-align: center;
    width: 90%;
}

  #modalContact:hover{
    color: #111;
}

  #modalContact:active {
    background-color: #bf8370;
    color: white;
}

/****bouton adresse***/

  button {
    margin: 15px;
    padding: 8px 6px 8px 6px;
    border: #bf8370 solid 2px;
    border-radius: 4px;
    font-size: 18px;
    color: #6c6d66;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 1px #00000040;
    cursor: pointer;
}

  button:hover {
  color: #111;
}

  button:active {
    background-color: #bf8370;
    color: white;
}

/****bouton numero***/

  a, .numero{
    color: #111;
    font-weight: bolder;
    text-decoration: none;
}

  a, .numero:hover{
    color: #6c6d66;
}

  a, .numero:active {
    color: #bf8370;
}


/********** lightbox ***********/


  .lightbox {

    /* Masqué par défaut */
    display: none;
  
    /* Superposer tout l’écran */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* Un peu de remplissage autour de l’image */
    padding: 1em;
  
    /* fond translucide*/
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Détachez le lightbox quand c’est la cible  */
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    /* Pleine largeur et hauteur */
    display: block;
    width: 100%;
    height: 100%;
  
    /* Taille et position de l’image d’arrière-plan */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }


  /*****formulaire******/

  /*** input ***/


  .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-top: 10px;
  }

  .inputbox input {
    width: 100%;
    border: 2px solid #000;
    outline: none;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.2em;
    box-shadow: 0px 0px 2px 1px #00000040;
  }

  .inputbox:last-child {
    margin-bottom: 0;
  }

  .inputbox span {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }

  .inputbox input:focus ~ span,
  .inputbox input:valid ~ span {
    transform: translateX(-10px) translateY(-28px);
    font-size: 1em;
  }

   /*******texterea*********/

   textarea {
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px #00000040;
    border-radius: 10px;
    font-size: 1.2em;
    outline: none;
}


  
  .textareaBox {
    position: relative;
    padding-top: 20px;
  }

  .textareaBox textarea {
    width: 100%;
    border: 2px solid #000;
    outline: none;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.2em;
    box-shadow: 0px 0px 2px 1px #00000040;
  }

  .textareaBox span {
    position: absolute;
    top: 28px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }
  
  .textareaBox textarea:focus ~ span,
  .textareaBox textarea:valid ~ span {
    transform: translateX(-12px) translateY(-28px);
    font-size: 1em;
  }


  /***message flash ***/


  #error{
    text-align: center;
    color: red;
    font-size: 10px;

  }