
/****parametre generale *****/

body {
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    padding: 10px;
    margin: 10px;
    margin-left: 90px;
    font-size: 30px ;
    color: #111;
}
h3 {
    font-size: 25px ;
    text-align: center;
    color: #3b3c35;
}
.marge {
    border-top: solid 2px #bf8370;
    width:90% ;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/***mise en page****/

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-right: 20px;
}

.box2 {
    width: 80% ;
    position: relative;
    overflow: hidden ;
}

/**** les bouton des ingredients***/

.boutonSelection {
    position: relative;
    background-color: #bf8370;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 6px;
    width: 110px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .boutonSelection:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .boutonSelection:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
 

  h4 {
      font-size: 25px;
      margin-bottom: 10px;
      text-align: center;
      text-decoration: underline;
      color: #111;
      padding: 10px;
  }

/***** les boites des boutons *******/


  .boite {
      display: flex;
      flex-direction: row;
      padding: 10px;
      margin-left: 80px;
  }
   
  .ligne1 {
      display: flex;
      flex-direction: column;
  }

  .ligne2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
 
  .ligne3 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }



  /*********** le jeu *************/

  #base {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  .img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
  }

  .hidden{
    display: none ;
  }

  #fond {
    width: 100%;
    box-shadow: 5px 5px 15px 5px #00000040;
}




/*****formulaire******/

  /*** input ***/


  .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-top: 10px;
  
  }
  .inputbox input {
    width: 80%;
    border: 2px solid #000;
    outline: none;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.2em;
    box-shadow: 0px 0px 2px 1px #00000040;
   
  }
  .inputbox:last-child {
    margin-bottom: 0;
  }
  .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
    color: #6c6d66;;
  }
  .inputbox input:focus ~ span,
  .inputbox input:valid ~ span {
    transform: translateX(-10px) translateY(-28px);
    font-size: 1em;
  }


  button {
    margin: 10px;
    padding: 8px 6px 8px 6px;
    border: #bf8370 solid 2px;
    border-radius: 4px;
    font-size: 18px;
    color: #6c6d66;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #00000020;
    cursor: pointer;
}

  button:hover {
    color: #111;
}

  button:active {
    background-color: #bf8370;
    color: white;
}


  /*******texterea*********/

  


  textarea {
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px #00000040;
    border-radius: 10px;
    font-size: 1.2em;
    outline: none;
    
}

  .textareaBox {
    position: relative;
    padding-top: 20px;
  }

  .textareaBox textarea {
    width: 95%;
    border: 2px solid #000;
    outline: none;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.2em;
    box-shadow: 0px 0px 2px 1px #00000040;
  }

  .textareaBox span {
    position: absolute;
    top: 28px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
    color: #6c6d66;
  }
  
  .textareaBox textarea:focus ~ span,
  .textareaBox textarea:valid ~ span {
    transform: translateX(-12px) translateY(-28px);
    font-size: 1em;
  }