/*RESPONSIVE IPAD*/

/*version portrait 1080 px */




  
@media screen and (max-width:1080px) {
  #imgHeader {
            width: 100%;
            height: 300px;
          } 

 /* on reajuste l'effet d'opaciter sur l'image central*/

  #opaciter {
            background-color: #111;
            width: 100%;
            height: 300px;
            position: absolute;
            opacity: 0.50; 
            z-index: 1;
          }

 /* image du logo central en 3 parti pour animation */

  #imgPng1 {
            width: 30%;
            position: absolute;
            top: 0px;
            animation-name: rond;
            animation-duration: 2s;
            z-index: 100;
            margin-right: -35px;
          }

  #imgPng2 {
            width: 30%;
            position: absolute;
            top: 0px;
            animation-name: pizza;
            animation-duration: 2s;
            z-index: 100;
            margin-right: -35px;
          }

  #imgPng3 {
            width: 30%;
            position: absolute;
            top: 0px;
            animation-name: kis;
            animation-duration: 2s;
            z-index: 100;
            margin-right: -35px;
          }

/* parti des logo reseau taille, placement etc..*/
  .admin img {
            width: 3%;
          }

  #icon1  {

            z-index: 1000;
            width: 5%; 
            position: absolute;
          }

  #icon2 {
            z-index: 1000;
            width: 5%; 
            position: absolute;
          }

/* animation des logo */

  #icon1:active {
            width: 7%;
          }

  #icon2:active {
            width: 7%;
          }

  .box {
            display: flex;
            flex-direction: row;
          }  

/* lightbox login */

          .loginDialog .loginContent {
            width: 50%;
          }

          .login {
            height: 300px;
          }


/* Le contenu de la modale */
          .modalDialog .modalContent {
         width: 50%;
}



    }

 





   






/* version 810px */

@media only screen and  (max-width:810px)
{
    #imgHeader {
            width: 100%;
            height: 250px;
        }

      /* effete opaciter sur l'image central*/

    #opaciter {
            background-color: #111;
            width: 100%;
            height: 250px;
            position: absolute;
            opacity: 0.50; 
            border-bottom:solid 5px #bf8370 ;
            z-index: 1;
        }

      /* image du logo en 3 parti pour animation */

    #imgPng1 {
            width: 34% ;
            position: absolute;
            top: -2px ;
            animation-name: rond;
            animation-duration: 2s;
            z-index: 100;
          }

    #imgPng2 {
            width: 34% ;
            position: absolute;
            top: -2px ;
            animation-name: pizza;
            animation-duration: 2s;
            z-index: 100;
          }

    #imgPng3 {
            width: 34% ;
            position: absolute;
            top: -2px ;
            animation-name: kis;
            animation-duration: 2s;
            z-index: 100;    
          }


/* parti des logo reseau taille, placement etc..*/

    #icon1 {
            
            z-index: 1000;
            width: 6%; 
            position: absolute;
          }

    #icon2 {
           
            z-index: 1000;
            width: 6%; 
            position: absolute;
          }

/* animation des logo (changement de taille) */

    #icon1:active {
            width: 7%;
          }

    #icon2:active {
            width: 7%;
          }

    .box         {
            display: flex;
            flex-direction: row;
          }  

    #ancre { 
            visibility: hidden;
          }

/*menu en barre aside du coter gauche cacher a activer avec un hamburger*/

    .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 10;
            top: 255px;
            left: -20px;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: space-around;
            
          }
  
  .sidenav a {
            padding: 6px 6px 10px 30px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            transition: 0.1s;
            display: flex;
            justify-content: space-between;
          }
  
  .sidenav a:hover {
            transform: scale(1) ;
            transition: scale 0.2s;
            text-decoration: none;
          
            
          }
  
  .sidenav .closeMenu {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
  
  #mainhead {
            transition: margin-left .5s;
            padding: 16px;
            font-size:30px;
            cursor:pointer;
            position: absolute;
            left: 50px;
          }
/* partie ou on cache le menu aside et le menu du footer qui ne sert plus a rien */

  aside {
            display: none;
          }

  .ancre {
            float: right;
          }

  #menuBas {
            display: none;
          }

  .mention {
            width: 100%;
            padding: 10px;
            background-color: #111;
            height: 20px;
            color: white;
            text-align: center;
            border-top:solid 2px #bf8370 ;
            position: absolute;
            bottom: 0;
          }


 /* lightBox log */

    .loginDialog .loginContent {
            width: 70%;
          }     

    .slider {
            top: -15px;
            margin: 10px;
          }

    .login {
           height: 250px;
          }


   }
  


                                   /* Mobile */

/****************************************************************************************/






                              /*version paysage  760px */




 @media screen and (max-width:760px) {

  #imgHeader {
               width: 100%;
               height: 200px;
  }  
  #mainhead {
    padding: 2px;
    font-size: 25px;
  }

/* effete opaciter sur l'image central*/

  #opaciter {
              width: 100%;
              height: 200px;
  }

/* image du logo en 3 parti pour animation */

  #imgPng1 {
              width: 30% ;
              position: absolute;
              top: -5px ;
              animation-name: rond;
              animation-duration: 2s;
              z-index: 100;
              margin-right: -20px;
  }

  #imgPng2 {
              width: 30% ;
              position: absolute;
              top: -5px ;
              animation-name: pizza;
              animation-duration: 2s;
              z-index: 100;
              margin-right: -20px;
  }

  #imgPng3 {
              width: 30% ;
              position: absolute;
              top: -5px ;
              animation-name: kis;
              animation-duration: 2s;
              z-index: 100;
              margin-right: -20px;   
  }

  .sidenav {
              height: 600% ;
              width: 0;
              position: absolute;
              z-index: 0 ;
              top: 205px;
              left: -20px;
              background-color: #111;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 60px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-content: space-around;
  }

  a h4 {
              margin-left: -20px;
  }

/* parti des logo reseau taille, placement etc..*/

  #icon1 {
              top: 12px;
              right: 30px; 
              z-index: 1000;
              width: 6%; 
              position: absolute;
  }

  #icon2 {
              top: 11px;
              right: 65px; 
              z-index: 1000;
              width: 6%; 
              position: absolute;
  }
/* lightbox log  */
  .admin img {
              width: 3%;
  }

  .loginDialog .loginContent {
              width: 72%;
              border: none;
  }

  .login {
              background-color: rgba(17, 17, 17, 0);
}
/*aside*/

  .boxAside {
              display: none;
}

/*menu */
  .sidenav{
              height: 300%;
}

/* Le contenu de la modale */
  .modalDialog .modalContent {
              width: 40%;
              display: flex;
              flex-direction: column;
              height: 120px;
}
  .mobileTitle {
              margin: 10px;
              font-size: 25px;
}

}










                                   /*version  portrait 360px */








@media screen and (max-width:360px) {

  #imgHeader {
              width: 100%;
              height: 150px;
  }  

/* effete opaciter sur l'image central*/

  #opaciter {
              background-color: #111;
              width: 100%;
              height: 150px;
              position: absolute;
              opacity: 0.50; 
              border-bottom:solid 5px #bf8370 ;
              z-index: 1;
  }

/* image du logo en 3 parti pour animation */

  #imgPng1 {
              width: 45% ;
              position: absolute;
              top: 0px ;
              animation-name: rond;
              animation-duration: 2s;
              z-index: 100;
              margin-right: -10px;
  }

  #imgPng2 {
              width: 45% ;
              position: absolute;
              top: 0px ;
              animation-name: pizza;
              animation-duration: 2s;
              z-index: 100;
              margin-right: -10px;
  }

  #imgPng3 {
              width: 45% ;
              position: absolute;
              top: 0px ;
              animation-name: kis;
              animation-duration: 2s;
              z-index: 100;
              margin-right: -10px;   
  }

/* parti des logo reseau taille, placement etc..*/

  #icon1 {
              top: 0px ;
              right: 5px ; 
              z-index: 1000;
              width: 10% ; 
              position: absolute ;
  }

  #icon2 {
              top: -1px ;
              right: 35px ; 
              z-index: 1000;
              width: 10% ; 
              position: absolute ;
  }
  .admin img {
              width: 5%;
              top: 10px;
  }


  .box {
              display: flex;
              flex-direction: row;
  }  

  .sidenav {
              height: 100%;
              width: 0;
              position: fixed;
              z-index: 0;
              top: 155px;
              left: -20px;
              background-color: #111;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 60px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-content: space-around;
  }

  .mention {
               z-index: 10;
  }

  a h4 {
              margin-top: -6px;
              font-size: 20px;
              color: rgb(255, 255, 255);
              z-index:3;
              text-decoration: white underline;
              margin-left: -5px;
  }

/* lightBox log */

   .loginDialog .loginContent {
              width: 60%;
              height: 350px;
              border: none;
  }     

   .slider {
              top: -15px;
              margin: 10px;
  }

   .login {
             height: 150px;
             background-color: rgba(17, 17, 17, 0);
             padding-top: 10px;
  }

   .titleLog {
             font-size: 20px;
             margin-top: -3px;
  }

   input, .myContainer {
             margin: 4px;
             height: 30px;
  }

   .connect {
            flex-direction: column;
  }

   .lost {
            flex-direction: column;
}

  .boxAside {
            display: none;
}

   #lost{
            flex-direction: column;
}

/******** Le contenu de la modale ***********/

   .modalDialog .modalContent {
            width: 80%;
            display: flex;
            flex-direction: column;
            height: 120px;
}

   .mobileTitle {
            margin: 10px;
            font-size: 25px;
}

    #btnLog{
            padding: 0px 6px 0px 6px;
} 
}



