body {
        font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    padding: 10px;
    margin: 10px;
    margin-left: 90px;
    font-size: 30px ;
    color: #111;
}

.marge {
    border-top: solid 2px #bf8370;
    width:90% ;
    height:8px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

h3 {
    font-size: 25px ;
    color: #3b3c35;
}

p {
    font-size: 18px ;
}

td {
    font-size: 18px;
}

.title {
    position: relative !important;
    right: 20px;
    font-size: 20px;
    color: #3b3c35;
}

tr {
    padding: 5px;  
}

/* premiere section base tomate */

section {
    display: flex;
    justify-content: center;
    margin: auto;
    margin: auto;
    width: 80%;
}

.boite {
    display: flex;
    justify-content: center;
    margin-left: 28px;
}

#main1 {
    width: 10%;
    cursor: pointer;
    position: relative;
    top: -3px;  
    right: -14px;
}

#table {
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    color: #6c6d66;
    display: none;
    position: relative;
    top: 0px;
}

.tableOpen {
  
    animation-name: openTable ;
    animation-duration: 0.5s;
}

.tableClose {
   
    animation-name: closeTable ;
    animation-duration: 0.5s;
    opacity: 0;
}

/************* animation des tables**********/

@keyframes openTable {
    0%{transform: translatey(10%);opacity: 15%;} 
    100% { transform: translatey(0%);opacity: 30%;} 
  
}

@keyframes closeTable {
    0% {transform: translatey(0%);opacity: 30%;} 
   100% { transform: translatey(15%);opacity: 15%;} 
 
}


/***** deuxieme section base creme *****/




#main2 {
    width: 10%;
    margin-top: 34px;
    cursor: pointer;
    position: relative;
    top: -36px;  
    right: -24px;
}

.boite2 {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 25px;
    
}

.tableOpen2 {
    animation-name: openTable ;
    animation-duration: 0.5s;
}

.tableClose2 {
    animation-name: closeTable ;
    animation-duration: 0.5s;
    opacity: 0;
}

#table2 {
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    color: #6c6d66;
    display: none;
    top: -25px;
    position: relative;
}

/******** troisieme section boisson ************/

.marge2 {
    margin-top: 10px;
    border-top: solid 2px #bf8370;
    width:30% ;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.titreBoisson {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    font-size: 20px;
}

#table3 {
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    color: #3b3c35;
    display: none;
    top: -35px;
    position: relative;
}

.tableClose3 {
    animation-name: closeTable ;
    animation-duration: 0.5s;
    opacity: 0;
}

.tableOpen3 {
    animation-name: openTable ;
    animation-duration: 0.5s;
}

#main3 {
    width: 10%;
    margin-top: 34px;
    cursor: pointer;
    position: relative;
    top: -40px;  
    right: -20px;
}

.boite3 {
    display: flex;
    justify-content: center;
    margin-left: 25px;
    padding-top: 25px;
}

.pad {
    padding:10px ;
}

#padding {
    padding-left: 55px;
}

.padding {
    padding-left: 70px;
}

span {
    color : #6c6d66;
}


                 /* le fomulaire*/


.bigBox {
    position: relative;
    top: -65px;
}


.marge4 {
        margin-top: 10px;
        border-top: solid 2px #bf8370;
        width: 90% ;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
}


#titreFormulaire {
    margin-right: 80px;
}

.conteneurFormulaire {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    position: relative;
    top: -40px;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    top: -15px;
}

.box2 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.box3 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 35px;
}


.conteneurFormulaire a {
    padding: 8px 6px 8px 6px;
    border: #bf8370 solid 2px;
    border-radius: 4px;
    font-size: 20px;
    color: #6c6d66;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer; 
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px #00000040; 
}

.conteneurFormulaire a:hover {
    color: #111;
  }

  .conteneurFormulaire a:active {
    background-color: #bf8370;
    color: white;
}

label {
    font-size: 30px;
}

select{
    width: 100%;
    border: 2px solid #000;
    outline: none;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
    background-color: white;
    color: #6c6d66;
    box-shadow: 0px 0px 2px 1px #00000040;
}

.small{
    display: flex;
}

.preference {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: .5rem;
}

/*** input ***/


  .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-top: 10px;
  }

  .inputbox input {
    width: 80%;
    border: 2px solid #000;
    outline: none;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.2em;
    box-shadow: 0px 0px 2px 1px #00000040;
  }

  .inputbox:last-child {
    margin-bottom: 0;
  }

  .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }

  .inputbox input:focus ~ span,
  .inputbox input:valid ~ span {
    transform: translateX(-10px) translateY(-28px);
    font-size: 1em;
  }


  /*******texterea*********/

  textarea {
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px #00000040;
    border-radius: 10px;
    font-size: 1.2em;
    outline: none;
}


  
  .textareaBox {
    position: relative;
  }

  .textareaBox textarea {
    width: 100%;
    border: 2px solid #000;
    outline: none;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.2em;
    box-shadow: 0px 0px 2px 1px #00000040;
  }

  .textareaBox span {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }
  
  .textareaBox textarea:focus ~ span,
  .textareaBox textarea:valid ~ span {
    transform: translateX(-12px) translateY(-25px);
    font-size: 1em;
  }

  


