
/* l'entete du header*/

    * {
    margin: 0;
    padding: 0;
    }

    body {
        
        height: 100%;
        font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #imgHeader {
        width: 100%;
        height: 400px;
    }

    /* le menu hamburger*/

    #mainhead {
        position: relative;
        left: -50px; 
        color: #111;
    }
    
    /******effete opaciter sur l'image central*******/

    #opaciter {
        background-color: #111;
        width: 100%;
        height: 400px;
        position: absolute;
        opacity: 0.50; 
        z-index: 1;
    }

    .boiteLogo {
        display: flex;
        justify-content: center;
    }

    /***** image du logo en 3 parti pour animation ******/

     #imgPng1 {
        width: 28%;
        position: absolute;
        top: -2px;
        animation-name: rond;
        animation-duration: 2s;
        z-index: 100;
        margin-right: -45px;
    }
    
    #imgPng2 {
        width: 28%;
        position: absolute;
        top: -2px;
        animation-name: pizza;
        animation-duration: 2s;
        z-index: 100;
        margin-right: -45px;
    }
    
    #imgPng3 {
        width: 28%;
        position: absolute;
        top: -2px;
        animation-name: kis;
        animation-duration: 2s;
        z-index: 100;
        margin-right: -45px; 
    }

    /******* Animation du logo  *******/

@keyframes rond {
        from {transform: translatey(-250%);} 
        to { transform: translatey(0%);} 
    }
    
    @keyframes pizza {
        from {transform: translatex(-250%);} 
        to { transform: translatex(0%);} 
    }
    
    @keyframes kis {
        from {transform: translatex(250%);} 
        to { transform: translatex(0%);} 
    }

    /*****  logo admin ********/

    .admin img{
    top: 20px;
    left: 30px;
    z-index: 1000;
    width: 2%;
    position: absolute;
    opacity: 0.7;
    cursor: pointer;
    }

    /*****  logo reseau *******/

    #icon1 {
        top: 12px;
        right: 30px; 
        z-index: 1000;
        width: 3%; 
        position: absolute;
        opacity: 0.7;
        cursor: pointer;
    }
    
    #icon2 {
        top: 10px;
        right: 80px; 
        z-index: 1000;
        width: 3%; 
        position: absolute;
        opacity: 0.7;
        cursor: pointer;
    }
    
    .boxReseau {
        display: flex;
        flex-direction: row;
    }

    /* animation des logo */

    #icon1:hover{
        opacity: 1;
        transition: opacity 0.6s;
    }
    
    #icon2:hover{
        opacity: 1;
       transition: opacity 0.6s;
    }

    #icon1:active{
        transform: scale(2) ;
        transition: scale 0.6s;
    }
    
    #icon2:active{
        transform: scale(2) ;
        transition: scale 0.6s;
    }
    
    /*****le menu *******/

    .closeMenu {
        display: none;
}


    ul {
        list-style-type: none;
        margin-top: -4px;
        padding: 10px;
        background-color: #111;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        border-bottom:solid 5px #bf8370 ;
        border-top: solid 5px #bf8370;
    }
    
    li a {
        font-size: 20px;
        text-decoration: none;
        color: #6c6d66 ;
        z-index:3;
    }
    
    li a:hover {
        font-size: 30px;
        text-decoration: none;
        opacity: 0.8;
        transition: opacity 0.5s;
        animation-name: hover;
        animation-duration: 0.2s ;
        color:#cdceca;
    }
    
    li a:active {
        color: white;
    }
    
    @keyframes hover {
        0%   {  font-size: 20px;}
        100%  {  font-size: 30px;}
    }

    /*** Aside****/

    aside {
        width: 6%;
        height: 100px;
        position: fixed;
        right: 0;
        top: 10%;
        display: none;
        z-index: 100;
    }
    
    .boxAside {
        background-color: #111;
    }
    
    .titleAside {
        display: flex;
        justify-content: center;
        color:#ffffff;
        background-color: #bf8370;
        font-size: 15px;
        padding: 0;
    }
    
    .asideIcon {
        width: 40%;
    }

    .iconBox a {
        display: flex;
        justify-content: center;
        opacity: 0.7;
        cursor: pointer;
    }

    .iconBox a:hover{
        opacity: 1;
        transition: opacity 0.6s;
    }

    .iconBox a:active {
        transform: scale(2) ;
        transition: scale 0.6s;
    }


/********* animation aside ********/

.asideOff {
    animation-name: masquer;
    animation-duration: 0.5s;
    opacity: 0;
}

.asideOn {
    animation-name: afficher;
    animation-duration: 1s;
}

@keyframes afficher {
    
    0%     { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes masquer {

    0%   { opacity: 1; }
    100% { opacity: 0; }
}

    /*******point d'ancrage********/

    
    #ancre {
        position: fixed;
        right: 0;
        top: 70%;
        background-color: #111;
        width: 3%;
        display: none;
    }

    #fleche {
        width: 100%;
    }

            /*animation du point d'ancrage*/

    .ancreOff {
        animation-name: masquer;
        animation-duration: 0.5s;
        opacity: 0;
    }

    .ancreOn {
        animation-name: afficher;
        animation-duration: 1s;
    }

    @keyframes afficher {
        
        0%     { opacity: 0; }
        100%   { opacity: 1; }
    }
    
    @keyframes masquer {

        0%   { opacity: 1; }
        100% { opacity: 0; }
    }


    /*******footer*******/


    footer {
        position:absolute;
        width:100%;
        z-index: 4;
    }

    #menuBas {
        list-style-type: none;
        padding: 10px;
        background-color: #111;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top:solid 5px #bf8370 ;
        z-index: 5;
    }

    .mention {
        padding: 10px;
        background-color: #111;
        height: 20px;
        color: white;
        text-align: center;
      
    }

    .legal {
        margin-left: 33px;
        margin-top: -6px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        background-color: rgba(17, 17, 17, 0);
        border: none;
        z-index:3;
        text-decoration: none;
        cursor: pointer;
    }

    .legal:hover {
        opacity: 0.5;
        transition: opacity 0.6s;
        color: white ;
    }

    .legal:active {
        transform: scale(1.5) ;
        transition: scale 0.6s;
    }


                              

    /********fenetre login***********/


    

                                  /*****  l'animation *****/
     @keyframes slideDownFadeIN {
         from {top:-100px;opacity: 0;}
         to {top:0px;opacity:1;}
}

/* Foncer l'arrière-plan de la fenêtre login */

     .login {
        display: none; 
        left: 0;
        top: 0;
        width: 100%;
        height: 400px;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
}

/* Afficher la fenêtre login lorsqu'elle est ciblée par un lien supprimer */

     .login:target {
        display: table;
        position: absolute;
}

/* la fenêtre login  */

     .loginDialog {
        display: table-cell;
        vertical-align: middle;
}

/* Le contenu de la login */

     .loginDialog .loginContent {
        margin: auto;
        background-color: #f3f3f3;
        position: relative;
        padding: 0;
        outline: 0;
        border: 1px #777 solid;
        text-align: justify;
        width: 35%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: slideDownFadeIN;
        animation-duration: 0.5s;
        z-index: 100;
        color: #111;
}

/* Bouton servant à fermer la fenêtre login */

     .close {
        text-decoration: none;
        float: right;
        font-size: 35px;
        font-weight: bold;
        color: #6c6d66;;
}

     .close:hover,
     .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
}

    .myContainer {
        padding: 2px 16px;
        display: flex;
        flex-direction: column;
}

    .connect {
        display: flex;
        flex-direction: row;
}

    #lost {
        display: flex;
        flex-direction: row;
        justify-content: center;
       
}

    #btnLog {
         padding: 2px 4px 2px 6px;
         border: #bf8370 solid 2px;
         border-radius: 4px;
         font-size: 20px;
         color: #6c6d66;
         background-color: rgb(255, 255, 255);
         text-decoration: none;
         cursor: pointer; 
         margin: 10px;
         text-align: center;
}

     #btnLog:hover {
         color: #111;
}

     #btnLog:active {
         background-color: #bf8370;
         color: white;
}

     input, .myContainer {
         padding: 0px 10px 2px 6px;
         margin: 6px;
         
}
     input {
         border: solid 1px #6c6d66;
         margin-left: 1px;
         border-radius: 4px;
         font-size: 15px;
         box-shadow: 0px 0px 2px 1px #00000040;
}
      .titleLog{
         margin-top: -15px;
         font-size: 25px;
         text-align: center;
}
      .lostMdp{
        text-align: center;
        font-size: 20px;
}

/**lightBox formulaire de validation **/

                                /***** Décrire l'animation *******/
                                
        @keyframes slideDownFadeIN {
          from {top:-100px;opacity: 0;}
          to {top:0px;opacity:1;}
}

/* Foncer l'arrière-plan de la fenêtre modale */
        .modal {
          display: none; 
          left: 0;
          top: 0;
          width: 100%;
          height: 104%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);
          z-index: 100;
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
        .modal:target {
          display: table;
          position: absolute;
}

/* la fenêtre modale  */
        .modalDialog {
         display: table-cell;
         vertical-align: middle;
}

/* Le contenu de la modale */
        .modalDialog .modalContent {
         margin: auto;
         background-color: #f3f3f3;
         position: relative;
         padding: 0;
         outline: 0;
         border: 1px #777 solid;
         text-align: justify;
         width: 30%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         height: 130px;
         animation-name: slideDownFadeIN;
         animation-duration: 0.5s;
}

/* Bouton servant à fermer la fenêtre modale */
        .closebtn {
         text-decoration: none;
         float: right;
         font-size: 35px;
         font-weight: bold;
         color: #6c6d66;;
}

        .closebtn:hover,
       .closebtn:focus {
         color: #000;
         text-decoration: none;
         cursor: pointer;
}

       .containerModal {
         padding: 2px 16px;
}
     #btnModal{
        padding: 0px 6px 1px 4px;
        border: #bf8370 solid 2px;
        border-radius: 4px;
        font-size: 20px;
        color: #6c6d66;
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer; 
        margin: 10px;
        text-align: center;
        box-shadow: 0px 0px 2px 1px #00000040; 
}