<link rel="stylesheet" href="../css/accueil.css">
<link rel="stylesheet" href="../scss/accueil.css">

<title>Accueil</title>

<body>
    <h2>Accueil</h2>
    <div class="marge"></div>
    <section>
        <h3>Damien</h3>
        <div class="conteneur">
            <div class="box1"></div>
            <div class="box2">
                <p>Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset,
                    Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae
                    per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus,
                    quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit
                    vel ex provinciis alimenta transferri conterminis, sed consularem Syriae Theophilum
                    prope adstantem ultima metuenti multitudini dedit id adsidue replicando quod invito 7</p>
            </div>
        </div>
        <h3 id="ancrage">Pizza kis</h3>
        <div class="conteneur">
            <div class="box3">
                <p class="font">Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset,
                    Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae
                    per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus,
                    quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit
                </p>
            </div>
            <div class="box4"><video src="../video/laPizza.mp4" autoplay loop width=500 height=300 controls poster="vignette.jpg"></div>
        </div>

    </section>
    <br>
    <div class="titlePhoto">
        <h2>Photo</h2>
        <div class="marge"></div>
    </div>
    <section>

        <a href="#ancrage" class="lightbox" id="img1">
            <span style="background-image: url('../photo de pizza/pizza1.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img2">
            <span style="background-image: url('../photo de pizza/pizza2.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img3">
            <span style="background-image: url('../photo de pizza/pizza3.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img4">
            <span style="background-image: url('../photo de pizza/pizza4.jpg')"></span>
        </a>


        <a href="#ancrage" class="lightbox" id="img5">
            <span style="background-image: url('../photo de pizza/pizza5.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img6">
            <span style="background-image: url('../photo de pizza/pizza10.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img7">
            <span style="background-image: url('../photo de pizza/pizza2.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img8">
            <span style="background-image: url('../photo de pizza/pizza3.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img9">
            <span style="background-image: url('../photo de pizza/pizza4.jpg')"></span>
        </a>


        <a href="#ancrage" class="lightbox" id="img10">
            <span style="background-image: url('../photo de pizza/pizza5.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img11">
            <span style="background-image: url('../photo de pizza/pizza6.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img12">
            <span style="background-image: url('../photo de pizza/pizza7.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img13">
            <span style="background-image: url('../photo de pizza/pizza8.jpg')"></span>
        </a>

        <a href="#ancrage" class="lightbox" id="img14">
            <span style="background-image: url('../photo de pizza/pizza9.jpg')"></span>
        </a>

        <div class="slider">
            <div class="scroller">
                <div class="slide-track">

                    <div class="slide">
                        <a href="#img1"><img id="lightbox01" class="tof" src="../photo de pizza/pizza1.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img2"><img class="tof" src="../photo de pizza/pizza2.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img3"><img class="tof" src="../photo de pizza/pizza3.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img4"><img class="tof" src="../photo de pizza/pizza4.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img5"><img class="tof" src="../photo de pizza/pizza5.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img6"><img class="tof" src="../photo de pizza/pizza10.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img7"><img class="tof" src="../photo de pizza/pizza2.jpg" height="200" width="3000" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img8"><img class="tof" src="../photo de pizza/pizza3.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img9"><img class="tof" src="../photo de pizza/pizza4.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img10"><img class="tof" src="../photo de pizza/pizza5.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img11"><img class="tof" src="../photo de pizza/pizza6.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img12"><img class="tof" src="../photo de pizza/pizza7.jpg" height="200" width="300" alt="" /></a>
                    </div>


                    <div class="slide">
                        <a href="#img13"><img class="tof" src="../photo de pizza/pizza8.jpg" height="200" width="300" alt="" /></a>
                    </div>

                    <div class="slide">
                        <a href="#img14"><img class="tof" src="../photo de pizza/pizza9.jpg" height="200" width="300" alt="" /></a>
                    </div>




                </div>
            </div>
        </div>


    </section>
    <br>
</body>

</html>