<link rel="stylesheet" href="../css/contact.css">




<body>
    
    <h2>Contact</h2>
    <div class="marge"></div>
    <section>
        <div class="conteneur">
            <div class="ligne1">
                <h3>Commentaire</h3>
                <form action="contact.php" method="post" >

                    <div class="inputbox">
                        <input type="text" required="required" name="lastname"<?php if (isset($errors['lastname'])) : ?><?php endif; ?> <?= $lastname ?>>
                        <span>Nom</span>
                         <!--message d'erreur -->
                         <?php if (isset($errors['lastname'])) : ?>
                       <div id="error" >Erreur ! Nom invalide !</div>
                       <?php endif; ?>
                    </div>



                    <div class="inputbox" >
                        <input type="text" required="required" name="firstname" <?php if (isset($errors['firstname'])) : ?><?php endif; ?> <?= $firstname ?>>
                        <span>Prenom</span> 
                        <!--message d'erreur -->
                        <?php if (isset($errors['firstname'])) : ?>
                       <div id="error" >Erreur ! Prenom invalide !</div>
                <?php endif; ?>
                    </div>


                    <div class="inputbox">
                        <input type="text" required="required" name="email"  <?php if (isset($errors['email'])) : ?><?php endif; ?> <?= $email ?>>
                        <span>Email</span>
                          <!--message d'erreur -->
                          <?php if (isset($errors['email'])) : ?>
                       <div id="error" >Erreur ! Email invalide !</div>
                       <?php elseif (isset($errors['emailDuplicate'])) : ?>
                <div id="error">Erreur ! Email déjà enregistrer !</div>
                   <?php endif; ?>
                    </div>
                 
                <div class="textareaBox">
                    <textarea type="text" required="required" name="comment" id="" cols="20" rows="7" <?php if (isset($errors['comment'])) : ?><?php endif; ?> <?= $comment ?>></textarea>
                    <span>Commentaire</span>
                     <!--message d'erreur -->
                     <?php if (isset($errors['comment'])) : ?>
                       <div id="error" >le commentaire doit avoir plus de 3 caractères !</div>
                <?php endif; ?>
                </div>
          <input onClick="window.location.href='id02'" id="modalContact" type="submit" name="valid" value="Envoyer">
                </form>
               
                
                
            </div>  
     
            <div class="ligne2">
                <h3>Me contacter</h3>
                <a class="numero" href="0621764184">
                    <p>06 21 76 41 84 </p>
                </a>
                <h3>Horaire</h3>
                <p>Mercredi 11:30 - 13:30</p>
                <p>Jeudi 11:30 - 13:30 / 18:30 - 20:30</p>
                <p>Vendredi 11:30 - 13:30</p>
                <h3>Mon emplacement</h3>
                <a id="emplacement" href="#img1"><button>quartier du carouquier, 13115 Saint-Paul-lez-Durance</button></a>
            </div>
            <div class="ligne3">
                <h3 id="ancrage">Me trouver</h3>
                <a href="#ancrage" class="lightbox" id="img1">
                    <span style="background-image: url('../imageSite/location.jpg')"></span>
                </a>
                <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.1719145749476!2d5.71065605961091!3d43.68618923832863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ca2b460cbdba7b%3A0xe945905b8568148e!2sPizza%20Kis!5e0!3m2!1sfr!2sfr!4v1644423747098!5m2!1sfr!2sfr" width="350" height="335" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>


            </div>
        </div>
    </section>

</body>