

    
    <link rel="stylesheet" href="../css/game.css">
    <script src="../js/game.js"></script>
    <title>Game</title>


<body>
    <h2>Pizza game</h2>
    <div class="marge"></div>
    <section>
        <div class="conteneur">
            <div class="box1">
                <h3>envoyer-nous vos idees</h3>
                <form>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Nom</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Prenom</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Email</span>
    </div>
  </form>
  <div class="textareaBox">
            <textarea type="text" required="required" name="" id="" cols="20" rows="7"></textarea>
            <span>Commentaire</span>
            </div>
                <button>Envoyer</button>
            </div>
            <div class="box2">
                <img id="fond" src="../imageSite/fond.png" alt="">
                <img id="base" src="../imageJeu/laPizza.png" alt="">
                

                <img class="img hidden none"  id="baseTomate" src="../imageJeu/baseTomate.png" alt="">
                <img class="img hidden none"  id="baseCreme" src="../imageJeu/baseCreme.png" alt="">
                <img class="img hidden none"  id="fromage" src="../imageJeu/fromage.png" alt="">
                <img class="img hidden none"  id="bacon" src="../imageJeu/bacon.png" alt="">
                <img class="img hidden none"  id="champignon" src="../imageJeu/champi.png" alt="">
                <img class="img hidden none"  id="anchoi" src="../imageJeu/anchoi.png" alt="">
                <img class="img hidden none"  id="boeuf" src="../imageJeu/boeuf.png" alt="">
                <img class="img hidden none"  id="kebab" src="../imageJeu/kebab.png" alt="">
                <img class="img hidden none"  id="lardon" src="../imageJeu/lardon.png" alt="">
                <img class="img hidden none"  id="saumon" src="../imageJeu/saumon.png" alt="">
                <img class="img hidden none"  id="poulet" src="../imageJeu/poulet.png" alt="">
                <img class="img hidden none"  id="thon" src="../imageJeu/thon.png" alt="">
                <img class="img hidden none"  id="oeuf" src="../imageJeu/oeuf.png" alt="">
                <img class="img hidden none"  id="figatelli" src="../imageJeu/figatellie.png" alt="">
                <img class="img hidden none"  id="chorizo" src="../imageJeu/chorizo.png" alt="">
                <img class="img hidden none"  id="parmesan" src="../imageJeu/parmesan.png" alt="">
                <img class="img hidden none"  id="roquefort" src="../imageJeu/roquefort.png" alt="">
                <img class="img hidden none"  id="mozza" src="../imageJeu/mozza.png" alt="">
                <img class="img hidden none"  id="roblo" src="../imageJeu/roblo.png" alt="">
                <img class="img hidden none"  id="chevre" src="../imageJeu/chevre.png" alt="">
                <img class="img hidden none"  id="poivron" src="../imageJeu/poivron.png" alt="">
                <img class="img hidden none"  id="patate" src="../imageJeu/patate.png" alt="">
                <img class="img hidden none"  id="oignon" src="../imageJeu/oignon.png" alt="">
                <img class="img hidden none"  id="roquette" src="../imageJeu/roquette.png" alt="">
                <img class="img hidden none"  id="basilic" src="../imageJeu/basilic.png" alt="">
                <img class="img hidden none"  id="olive" src="../imageJeu/olive.png" alt="">
                <img class="img hidden none"  id="pesto" src="../imageJeu/pesto.png" alt="">
                <img class="img hidden none"  id="miel" src="../imageJeu/miel.png" alt="">
                <img class="img hidden none"  id="tomate" src="../imageJeu/tomate.png" alt="">
            </div>
        </div>
        </div>
        <h4>Selectionne les ingredients</h4>
        <div class='boutton'>

            <div class="boite">

                <div class="ligne1">
                    <button id="btn1" class="boutonSelection">Base tomate</button>
                    <button id="btn2" class="boutonSelection">Base creme</button>
                    <button id="btn3" class="boutonSelection">Emmental</button>
                    <button id="btn17" class="boutonSelection">Mozzarella</button>
                </div>

                <div class="ligne2">
                    <button id="btn4" class="boutonSelection">Anchoi</button>
                    <button id="btn5" class="boutonSelection">Boeuf</button>
                    <button id="btn6" class="boutonSelection">Kebab</button>
                    <button id="btn7" class="boutonSelection">Lardon</button>
                    <button id="btn8" class="boutonSelection">Saumon</button>
                    <button id="btn9" class="boutonSelection">Poulet</button>
                    <button id="btn10" class="boutonSelection">Bacon</button>
                    <button id="btn11" class="boutonSelection">Thon</button>
                    <button id="btn12" class="boutonSelection">Oeuf</button>
                    <button id="btn13" class="boutonSelection">Figatelli</button>
                    <button id="btn14" class="boutonSelection">Chorizo</button>
                </div>

                <div class="ligne3">
                    <button id="btn15" class="boutonSelection">Parmesan</button>
                    <button id="btn16" class="boutonSelection">Roquefort</button>

                    <button id="btn18" class="boutonSelection">Roblochon</button>
                    <button id="btn19" class="boutonSelection">Chévre</button>
                    <button id="btn20" class="boutonSelection">Poivron</button>
                    <button id="btn21" class="boutonSelection">Champignon</button>
                    <button id="btn22" class="boutonSelection">Patate</button>
                    <button id="btn23" class="boutonSelection">Oignon</button>
                    <button id="btn24" class="boutonSelection">Roquette</button>
                    <button id="btn25" class="boutonSelection">Basilic</button>
                    <button id="btn26" class="boutonSelection">Olive</button>
                    <button id="btn27" class="boutonSelection">Pesto</button>
                    <button id="btn28" class="boutonSelection">Miel</button>
                    <button id="btn29" class="boutonSelection">Tomate</button>
                </div>

            </div>
        </div>
    </section>
</body>

</html>