<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/layoutResponsive.css">
    <script src="../js/animationAccueil.js"></script>
    <title> <?= isset($pageTitle) ? $pageTitle : '' ?></title>

    <!-- <?php if (isset($css)) : ?>

    <?php foreach ($css as $value) : ?>

         <link rel="stylesheet" href="../css/<?= $value ?>.css">

         <?php endforeach; ?>

         <?php endif; ?> -->







    <title>PizzaKis</title>
</head>

<body>

    <header>

        <div id="opaciter"></div>
        <img id="imgHeader" src="../imageSite/pizza.jpg" alt="">

        <div class="boiteLogo">
            <img id="imgPng1" src="../PNG/rond.png" alt="">
            <img id="imgPng2" src="../PNG/pizza.png" alt="">
            <img id="imgPng3" src="../PNG/kis.png" alt="">
        </div>

        <div class="boxReseau">
            <a href="https://www.facebook.com/pages/category/Pizza-place/PizzaKis-107340707372343/ "><img id="icon1" src="../imageSite/face.png" alt=""></a>
            <a href="https://www.instagram.com/pizza.kis/?hl=fr"><img id="icon2" src="../imageSite/ins.png" alt=""></a>
        </div>



        <ul id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closeMenu" onclick="closeNav()">&times;</a>
            <li><a href="http://localhost/sitePizza/php/accueil.php">Accueil</a></li>
            <li><a href="http://localhost/sitePizza/php/pizza.php">Nos pizzas</a></li>
            <li><a href="http://localhost/sitePizza/php/contact.php">Contact</a></li>
            <li><a href="http://localhost/sitePizza/php/actu.php">Actualiter</a></li>
            <li><a href="http://localhost/sitePizza/php/game.php">jeux</a></li>
        </ul>
        <div id="mainhead">
            <span onclick="openNav()">&#9776;</span>
        </div>
    </header>

    <!-- lightBox Formulaire de validation -->


    <div id="id02" class="modal">
        <div class="modalDialog">
            <div class="modalContent">
                <header class="containerModal">
                    <a href="#" class="close">×</a>
                    <h2 class="mobileTitle">Etes vous sur ?</h2>
                </header>
               
                <div class="containerModal"> 
                    <form action="">
                <input href="http://localhost/sitePizza/php/accueil.php" id="btnModal" type="submit" name="valid" value="Oui">
                <input href="http://localhost/sitePizza/php/contact.php" id="btnModal" type="submit" name="valid" value="Non">
                </form>
                </div>
            </div>
        </div>
    </div>




    <!-- lightBox loginAdmin -->

    <div class="admin">
        <a href="#id01" type="submit"><img src="../imageSite/admin.png" alt=""></a>
        <div id="id01" class="login">
            <div class="loginDialog">
                <div class="loginContent">
                    <header class="myContainer">
                        <a href="#" class="close">×</a>
                        <h4 class="titleLog">Identifier-vous</h4>
                        <div class="myContainer">
                            <div class="connect">
                                <input type="adminName" value="Nom...">
                                <input type="password" value="Mot de passe">
                                <a id="btnLog" href="#" type="submit">Valider</a>
                            </div>
                            <p class="lostMdp">mot de passe oublié ?</p>
                            <div id="lost">
                                <input type="mail" value="mail">
                                <a id="btnLog" href="#" type="submit">Valider</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>


    <aside>
        <div class="boxAside">
            <h3 class="titleAside">Contact</h3>
            <div class="iconBox">
                <a href="http://localhost/sitePizza/php/contact.php"><img class="asideIcon" src="../imageSite/telblanc.png" alt=""></a>
                <a href="https://www.facebook.com/pages/category/Pizza-place/PizzaKis-107340707372343/"><img class="asideIcon" src="../imageSite/facBlanc.png" alt=""></a>
                <a href="https://www.instagram.com/pizza.kis/?hl=fr"><img class="asideIcon" src="../imageSite/instaBlanc.png" alt=""></a>
            </div>
        </div>
    </aside>



    <main>

        <!-- ICI JE METTS LA VUE DE LA PAGE CONCERNEE ! -->
        <?php include('../views/' . $view . '.phtml'); ?>

    </main>



    <div id="ancre">
        <a href="#imgHeader"><img id="fleche" src="../imageSite/fleche.png" alt=""></a>
    </div>




    <footer>
        <ul id="menuBas">
            <li><a href="http://localhost/sitePizza/php/accueil.php">Accueil</a></li>
            <li><a href="http://localhost/sitePizza/php/pizza.php">Nos pizzas</a></li>
            <li><a href="http://localhost/sitePizza/php/contact.php">Contact</a></li>
            <li><a href="http://localhost/sitePizza/php/actu.php">Actualiter</a></li>
            <li><a href="http://localhost/sitePizza/php/game.php">jeux</a></li>
        </ul>
        <div class="mention">
            <a class="legal" href="">Mention legale</a>
        </div>
    </footer>

</body>

</html>