    <link rel="stylesheet" href="../css/pizza.css">
    <script src="../js/animation.js"></script>

    <body>
         <h2>Nos pizzas</h2>
         <div class="marge"></div>
         <section>
              <div class="boite">
                   <h3>Base tomate</h3>
                   <img id="main1" src="../PNG/fleche.png" alt="">
              </div>
         </section>
         <table id="table" class="tableClose">
              <tbody>
                   <tr>
                        <td class="title">Margarita</td>
                   </tr>
                   <td colspan="4">Mozzarella, tomates fraiches, basilic</td>
                   <td>8€</td>


                   <tr>
                        <td class="title">Anchois</td>
                   </tr>
                   <td colspan="4">Anchois</td>
                   <td>7€</td>


                   <tr>
                        <td class="title">Napolitaine</td>
                   </tr>
                   <td colspan="4">Mozzarella, tomates fraiches, anchois</td>
                   <td>8€</td>


                   <tr>
                        <td class="title">Napolitaine</td>
                   </tr>
                   <td colspan="4">Mozzarella, tomates fraiches, anchois</td>
                   <td>8€</td>


                   <tr>
                        <td class="title">Jambon fromage</td>
                   </tr>
                   <td colspan="4">Mozzarella, jambon</td>
                   <td>8€</td>


                   <tr>
                        <td class="title">Chorizo</td>
                   </tr>
                   <td colspan="4">Emmental, chorizo</td>
                   <td>8€</td>


                   <tr>
                        <td class="title">Végé</td>
                   </tr>
                   <td colspan="4">Emmental, poivrons, champignons, tomates fraiches</td>
                   <td>9€</td>


                   <tr>
                        <td class="title">Royale</td>

                   </tr>
                   <td colspan="4">Emmental, jambon, champignons,</td>
                   <td>10€</td>


                   <tr>
                        <td class="title">Arménienne</td>

                   </tr>
                   <td colspan="4">Emmental, boeuf, poivrons, oignons</td>
                   <td>10€</td>


                   <tr>
                        <td class="title">Corse</td>

                   </tr>
                   <td colspan="4">Mozzarella, chévre, figatelli</td>
                   <td>10€</td>


                   <tr>
                        <td class="title">Super royale</td>

                   </tr>
                   <td colspan="4">Emmental, jambon, lardons, champignons</td>
                   <td>11€</td>


                   <tr>
                        <td class="title">4 fromages</td>

                   </tr>
                   <td colspan="4">Emmental, mozzarella, chévre, bleu</td>
                   <td>11€</td>


                   <tr>
                        <td class="title">Basquaise</td>

                   </tr>
                   <td colspan="4">Mozzarella, poulet, poivrons, oignons</td>
                   <td>10€</td>


                   <tr>
                        <td class="title">Délizia</td>

                   </tr>
                   <td colspan="4">Mozzarella, chévre, jambon cru, tomates fraiches, pesto</td>
                   <td>10€</td>


                   <tr>
                        <td class="title">Préference</td>

                   </tr>
                   <td colspan="4">4 ingrédients au choix </td>
                   <td>11€</td>

              </tbody>
         </table>


         <!--*************************************************************************************-->

         <!--Base creme -->

         <section>
              <div class="boite2">
                   <h3>Base creme</h3>
                   <img id="main2" src="../PNG/fleche.png" alt="">
              </div>
         </section>
         <table id="table2" class="tableClose2">
              <tbody>
                   <tr>
                        <td class="title">Chévre miel</td>
                   </tr>
                   <td colspan="4">Mozzarella, chévre, miel</td>
                   <td class="padding">9€</td>


                   <tr>
                        <td class="title">Dame blanche</td>

                   </tr>
                   <td colspan="4">Emmental, jambon, champignons</td>
                   <td class="padding">10€</td>

                   <tr>
                        <td class="title">Kebab</td>

                   </tr>
                   <td colspan="4">Emmental, kebab, oignons, tomates fraiches&emsp;</td>
                   <td class="padding">10€</td>



                   <tr>
                        <td class="title">Tartiflette</td>

                   </tr>
                   <td colspan="4">Emmental, reblochon, lardons, oignons</td>
                   <td class="padding">10€</td>


                   <tr>
                        <td class="title">Pizza kis</td>

                   </tr>
                   <td colspan="4">Mozzarella, saumon, aneth</td>
                   <td class="padding">10€</td>


                   <tr>
                        <td class="title">4 fromages</td>

                   </tr>
                   <td colspan="4">Emmental, mozzarella, chévre, bleu</td>
                   <td class="padding">11€</td>

              </tbody>
         </table>
         </section>
         <!--*************************************************************************************-->

         <!--Parti boisson -->




         <div class="marge2"></div>

         <section>




              <div class="boite3">
                   <h3> Nos boissons</h3>
                   <img id="main3" src="../PNG/fleche.png" alt="">
              </div>
         </section>
         <table id="table3" class="tableClose3">
              <tbody>

                   <tr>
                        <td class="pad" class="title">Coca cola <span>33 cl</span> </td>
                        <td class="pad" colspan="4" id="padding"><span>2€</span></td>
                   </tr>

                   <tr>
                        <td class="pad" class="title">Orangina <span>33 cl</span> </td>
                        <td class="pad" colspan="4" id="padding"><span>2€</span></td>
                   </tr>

                   <tr>
                        <td class="pad" class="title">Oasis &nbsp; &nbsp; <span>33 cl</span> </td>
                        <td class="pad" colspan="4" id="padding"><span>2€</span></td>
                   </tr>

                   <tr>
                        <td class="pad" class="title">Sprite &nbsp; &nbsp; <span>33 cl</span></td>
                        <td class="pad" colspan="4" id="padding"><span>2€</span></td>
                   </tr>


                   <tr>
                        <td class="pad" class="title">Despérado <span>33 cl</span></td>
                        <td class="pad" colspan="4" id="padding"><span>3€</span></td>
                   </tr>


                   <tr>
                        <td class="pad" class="title">Heineken <span>33 cl</span> </td>
                        <td class="pad" colspan="4" id="padding"><span>3€</span></td>
                   </tr>

              </tbody>
         </table>
         </section>
         <!--Parti formulaire -->

         <div class="bigBox">
              <h2 id="titreFormulaire">Vos avis</h2>
              <div class="marge4"></div>
         </div>
         <section>
              <div class="conteneurFormulaire">

                   <div class="box1">
                        <!--<input type="Nom" value="Nom...">
            <input type="Prenom" value="Prenom...">
            <input type="email" value="Email..."> -->
                        <form>
                             <div class="inputbox">
                                  <input type="text" required="required">
                                  <span>Nom</span>
                             </div>
                             <div class="inputbox">
                                  <input type="text" required="required">
                                  <span>Prenom</span>
                             </div>
                             <div class="inputbox">
                                  <input type="text" required="required">
                                  <span>Email</span>
                             </div>
                        </form>

                   </div>
                   <div class="box2">

                        <select id="pizzaName">
                             <option value="margarita">Margarita</option>
                             <option value="anchois">Anchois</option>
                             <option value="napolitaine">Napolitaine</option>
                             <option value="jambonFro">Jambon fromage</option>
                             <option value="chorizo">Chorizo</option>
                             <option value="vege">Végé</option>
                             <option value="royale">Royale</option>
                             <option value="armenienne">Arménienne</option>
                             <option value="corse">Corse</option>
                             <option value="super royal">Super royale</option>
                             <option value="quatreFromage">4 fromages</option>
                             <option value="basquaise">Basquaise</option>
                             <option value="delizia">Délizia</option>
                             <option value="preference">Préference</option>

                             <option value="chevreMiel">Chévre miel</option>
                             <option value="dameBlanche">Dame Blanche</option>
                             <option value="kebab">Kebab</option>
                             <option value="tartiflette">Tartiflette</option>
                             <option value="pizzaKis">Pizza kis</option>
                             <option value="fromageCreme">4 fromages creme</option>
                        </select>


                        <select id="etoiles">
                             <option value="uneEtoile">1 étoile</option>
                             <option value="deuxEtoiles">2 étoiles</option>
                             <option value="troisEtoiles">3 étoiles</option>
                             <option value="quatreEtoiles">4 étoiles</option>
                             <option value="cinqEtoiles">5 étoiles</option>

                        </select>

                        <a href="#id02" id="modalBtn" type="submit">Envoyer</a>
                   </div>

                   <div class="box3">
                        <div class="textareaBox">
                             <textarea type="text" required="required" name="" id="" cols="20" rows="7"></textarea>
                             <span>Commentaire</span>
                        </div>
                   </div>
              </div>

         </section>

    </body>